<!-- Manny Campbell and Natalie Tepedino -->

{% include 'navbar.html' %}

        <!-- Header Section -->
        <header class="header h-abus">
            <div class="header-content">
                <img src="{{ url_for('static', filename='images/Logo.webp') }}" alt="Hobby Logo" class="logo">
                <h1 class="head-title">Find My Founders</h1>
            </div>
        </header>

        <!-- About Us -->
        <section class="abus">
            <h2>Who Are We?</h2>
            <div class="abus-container">
                <div class="abus-content">
                    <p>
                        We are a team of seven Computer Science seniors at UNCC dedicated to making it easier for people to discover hobbies they love. For our senior project, we decided to create this. Our website is all about helping users explore new interests, whether they’re looking for something creative, active, social, or skill-based. 
                        Ironically, we’re building this website to help people have fun in their free time… while having absolutely none ourselves.
                    </p>
                    <p>
                        Between coding, debugging, and surviving senior year, our idea of a hobby right now is getting sleep. 
                        But hey, we’re here to make sure you find a fun way to spend your time!
                        Through our website, we aim to provide personalized hobby recommendations based on individual preferences, making it simple for anyone to find an activity that fits their lifestyle.
                    </p>
                    <p>
                        With a strong focus on user experience, accessibility, and innovative technology, we are committed to building a platform that inspires curiosity and connection
                        Our journey as a team has been fueled by collaboration, problem-solving, and a shared goal of creating something meaningful. We believe that hobbies enrich lives, and we’re excited to help others embark on their hobby-finding adventure!
                    </p>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2025 Find My Hobby. All rights reserved.</p>
            <p><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a> | <a href="{{ url_for('terms_of_service') }}">Terms of Service</a></p>
        </footer>

    </body>
</html>